# Node.js dependencies
/backend/node_modules/
/frontend/node_modules/

# Production build outputs
/backend/dist/
/frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Environment variables
# This is crucial for security.
.env